td,
th {
  vertical-align: middle;
}

.title {
  width: 50%;
  text-align: center;
}

.views {
  width: 8%;
  text-align: center;
}

.date {
  width: 10%;
  text-align: center;
}

.act {
  width: 15%;
  text-align: center;
}
